//header-variables
$header-height:10vh;
$header-background-color:#eaecf3;
$header-font-color:#ffffff;
$header-logo-height:3vw;

//sidebar-variables
$sidebar-width:20vw;
$sidebar-background-color:#ffffff;
$sidebar-border-color:#00000026;
$sidebar-font-color:black;


//Theme
$theme-datrk-color:#333390;
$theme-light-color:#3198f7;

